html {
    height: 100%;
}

body {
    background-color: lightgray;
    height: 99%;
    margin: 0;
}

h1 {
    margin: 10px;
}

.glmol_window {
    background-color: black;
    margin: 10px;
}

#main {
    width: 50%;
    height: 70%;
    border-radius: 40px;

}

textarea {
    display: none;
}
