* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


textarea {
    display: none;
}


html {
    height: 100%;
}


body {
    background-color: white;
    height: 100%;

}


div {
    float: left;
}


#header_div {
    /*background-color: red;*/
    height: 15%;
    width: 100%;
}


#back_button_div {
    /*background-color: white;*/
    height: 100%;
    width: 15%;
    padding: 1%;
}


.button {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    display: table;

}


#back_button {
    background: red;
}


p {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-family: sans-serif;
    font-size: 2.5em;
}


#title_div {
    position: absolute;
    top: 0%;
    height: 15%;
    width: 100%;
    display: table;
}

.title {
    font-size: 5.5em;
    font-family: sans-serif;
    color: purple;
    text-align: center;
    vertical-align: middle;
    display: table-cell;

}


#next_button_div {
    position: absolute;
    top: 0%;
    right: 0%;
    height: 15%;
    width: 15%;
    padding: 1%;
}


#next_button {
    background-color: green;
}


#windows_div {
    /*background-color: blue;*/
    height: 85%;
    width: 100%;
}


.filler {
    height: 100%;
    width: 16.66665%;
}


#row1 {
    position: inherit;
    top: 0%;
    height: 50%;
    width: 100%;

}


#row2 {
    position: inherit;
    top: 50%;
    height: 50%;
    width: 100%
}


.glmol_div {
    height: 33.3333%;
    width: 33.3333%;
    padding: 1%;
}


.topology_div {
    height: 100%;
    width: 33.3333%;
}


.main_div {
    height: 100%;
    width: 85%;
}


#options_div {
    /*background-color: green;*/
    height: 100%;
    width: 15%;

}


.options_button_div {
    height: 50%;
    width: 100%;
    padding: 10%;
}

.toggle {
    background-color: blue;

}


.glmol_window {
    background-color: black;
    height: 100%;
    width: 100%;
    border-radius: 35px;
}


.big_button_div {
    height: 100%;
    width: 50%;

}

.big_button {
    height: 100%;
    width: 100%;
}

#no_button {
    background-color: red;

}

#yes_button {
    background-color: green;
}

.big_button_text {
    font-size: 10em;
}
