* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 0;

}


textarea {
    display: none;
}


html {
    height: 99%;
}


body {
    background-color: dimgray;
    height: 100%;

}


div {
    float: left;

}


#header_div {
    background-color:  #ffbd45;
    height: 20%;
    width: 100%;

}


#back_button_div {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 20%;
    width: 15%;
    padding: 2%;
    z-index: 1;
}


.button {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    display: table;

}


.back_button {
    background: #424245;

}


p {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-family: sans-serif;
    font-size: 2.5vw;
}


#tip_div {
    position: absolute;
    top: 0%;
    left: 13.5%;
    height: 20%;
    width: 5%;
    z-index: 1;
    display: table;
}

.help-tip{
    position: absolute;;
    top: 40%;
    left: 20%;
    text-align: center;
    background-color: #424245;
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    font-size: 1vw;
    line-height: 3vw;
    cursor: default;
}

.help-tip:before{
    content:'?';
    font-weight: 600;
    color:#fff;
    font-family: Arial, sans-serif;
    font-size: 2vw;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{    /* The tooltip */
    display: none;
	text-align: justify;
	background-color: #e0e0e0;
	padding: 2em;
	width: 800px;
	position: relative;
	border-radius: 3px;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);
	right: -4px;
	color: black;
	font-size: 1.2vw;
	line-height: 1.4;
}

.help-tip p:before{
    position: absolute;
	content: '';
	width:0;
	height: 0;
	border:6px solid transparent;
	border-bottom-color:#e0e0e0;
	left:15px;
	top:-12px;
}

.help-tip p:after{
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}


.red {
    color: red;
}


.blue {
    color: blue;
}


#title_div {
    position: absolute;
    top: 0%;
    height: 20%;
    width: 100%;
    display: table;
}


.title {
    font-size: 5.5vw;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    vertical-align: middle;
    display: table-cell;

}

.shift_left {
    position: relative;
    right: 10%;
}

#next_button_div {
    position: absolute;
    top: 0%;
    right: 0%;
    height: 20%;
    width: 15%;
    padding: 2%;
}


.next_button {
    background-color: #424245;
}

#next_button4, #next_button5 {
    background-color: #424245;
}

#try_again {
    font-size: 2vw;
}

.ready {
    color: #ffbd45;
}


#windows_div {
    /*background-color: blue;*/
    height: 80%;
    width: 100%;
}


.filler {
    height: 100%;
    width: 16.66665%;
}


#row1 {
    position: inherit;
    top: 0%;
    height: 50%;
    width: 100%;

}


#row2 {
    position: inherit;
    top: 50%;
    height: 50%;
    width: 100%
}


.glmol_div {
    height: 33.3333%;
    width: 33.3333%;
    padding: 1%;
}


.topology_div {
    height: 100%;
    width: 33.3333%;
}


.main_div {
    height: 100%;
    width: 85%;
}


#options_div {
    /*background-color: green;*/
    height: 100%;
    width: 15%;

}


.options_button_div {
    height: 100%;
    width: 100%;
    padding: 10%;
}


.toggle {
    background-color: #ffbd45;

}


.selectedToggle {
    background-color: #f98b00;
}


.glmol_window {
    background-color: #424242;
    height: 100%;
    width: 100%;
    border-radius: 35px;
}


.cage_window_div {
    height: 100%;
    width: 70%;
    padding: 1%;
    /*background-color: red;*/
}


.both_buttons_div {
    height: 100%;
    width: 30%;

}

.big_button_div {
    height: 50%;
    width: 100%;

}


.big_button {
    height: 100%;
    width: 100%;
    border-radius: 0px;

}


#no_button {
    background-color: #ff5722;

}


#yes_button {
    background-color: #4caf50;

}


.big_button_text {
    font-size: 10vw;

}

#glmol_and_content {
    height: 100%;
    width: 85%;
}

#content_div {
    height: 10%;
    width: 100%;
    display: table;
    padding: 1%;
    padding-left: 2%;
    /*background-color: red;*/
}

.final_page {
    height: 90%;
    width: 100%
}

.selected {
    border-style: solid;
    border-width: thick;
    border-color: #f98b00;


}

#cage_info {
    display: table-cell;
    text-align: left;
    font-size: 1.7vw;
}

.full {
    width: 100%;
}
